<div style="width: 50vw;">
  <div class="container-fluid">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="uname" class="form-control" />
        <div *ngIf="uname.touched && uname.errors">
          <div class="text-danger" *ngIf="uname.errors.required">
            Username is required
          </div>
          <div class="text-danger" *ngIf="uname.errors.minlength">
            Username must be greater than 3 character
          </div>
          <div class="text-danger" *ngIf="uname.errors.pattern">
            Username must have character
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control" />
        <div *ngIf="password.errors && password.touched">
          <div class="text-danger" *ngIf="password.errors.required">
            password is required
          </div>
          <div class="text-danger" *ngIf="password.errors.minlength">
            password must have min 4 character
          </div>
          <div class="text-danger" *ngIf="password.errors.maxlength">
            password must have maximum 6 character
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" />
        <div *ngIf="email.touched && email.errors">
          <div *ngIf="email.errors.required">email is required</div>
          <div *ngIf="email.errors.pattern">email is invalid</div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
        (click)="displayData()"
      >
        Login
      </button>
    </form>
  </div>
</div>
